.header {
  padding: 92px 24px 96px 24px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 0;
}

.header__menu {
  padding: 44px 3px 39px 26.52px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:wrap;
  row-gap: 10px;
  text-underline-offset: 4px;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  list-style: circle;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  width: 136px;
  height: 105px;
  justify-self: center;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  max-width: 266.52px;
  width:100%;
  text-underline-offset: 3px;
}

.header__address {
  justify-self: end;
  align-self: end;
}

.cover {
  display: block;
  position: relative;
  padding: 0;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 157px;
}

.overlay {
  position: absolute;
  z-index: 1;
  background-color: rgb(0 0 0/0.6);
  inset: 0;
}

.cover__title {
  width: 100%;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  padding: 165px 50px 135px;
  position: relative;
  z-index: 2;
}

.aligned-text {
  display: block;
  line-height: 115%;
}

.aligned-text_center {
  line-height: 100%;
  text-align: center;
  padding: 20px 0;
}

.aligned-text_right {
  line-height: 100%;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 51px 78px;
}

.cover__description-text {
  position: relative;
  z-index: 2;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  word-spacing: 18.5px;
  font-weight: normal;
}

.bet-button {
  background-color: transparent;
  padding: 0;
  width: 256px;
  height: 51px;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  font-family: "Raleway", sans-serif; 
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
}

.lots {
  display: block;
  padding: 22px 24px 145px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  padding: 0 0 0 40px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  gap: 24px;
  padding: 27px 0 0 0;
}

.lots__card-list-item {
  display: block;
  color: #fff;
  min-height: 563px; 
  font-weight: normal;
}

.card-link {
  display: block;
  width: 334px;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative; 
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 563px;
  max-height: 563px; 
  /*если не указать max-height, то 2 колонка будет длинне остальных */
  height: 100%;
  width: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  width: 100%;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  padding: 51px 40px 0px;
}

.card__text {
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 20px;
  line-height: 120%;
  padding: 0 40px 48px;
  font-weight: normal;
  letter-spacing: 0;
}

.lots__look-more-link {
  display: block;
  padding: 30px 0 0 40px;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.about {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  padding: 0 24px 180px 24px;
}

.about__logo {
  grid-column: 1;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 37px 0 0 47px;
}

.about__logo-image {
  width: 145px;
  height: 112.55px;
}

.about__column {
  padding: 0 2px 0 8px;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  padding: 139px 0 76px 0;
}

.about__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: #000000;
  word-spacing: 0.02em;
}

.footer {
  padding: 0 50px 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__menu-list {
  padding: 0 26px 0 0;
  list-style: none;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: lowercase;
  text-underline-offset: 4px;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 48px;
}

.footer__social-list-item {
  height: 48px;
  width: 48px;
}
